@use './styles/tokens';

/* Global base styles */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	color: var(--text-high);
	background-color: var(--color-background);
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

button {
	font-family: inherit;
}

